<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do Application</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Iconic Icons -->
    <link href="{{ url_for('static', filename='open-iconic/font/css/open-iconic-bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <div class="offset-md-3 col-md-6 mt-5">
            <h2 class="mb-3">To-Do List</h2>
               
            <div class="input-group">
            <input type="text" id="todo-text" class="form-control" placeholder="Add To-Do">
            <div class="input-group-append">
                <button id="add-todo" class="btn btn-outline-success" type="button">Add</button>
            </div>
            </div>
            
            <button id="check-all-todo" type="button" class="btn btn-sm btn-outline-primary mt-3 mb-3">
                    Check All
            </button>

            <ul id="todo-items" class="list-group">
                
            </ul>
    </div>


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>